<div>
  <div class="btnhead">
    <nav>
      <a routerLink="/register"><button mat-button class="register">Register</button></a>
    </nav>
  </div>
<div class="centered">
  <div>
    <img class="logo" src="../../assets/logotext.png" alt="logohead"/>
  </div>
  <form [formGroup]="loginUser" (ngSubmit)="doLogin()" novalidate>
  <div>
    <mat-form-field appearance="outline">
      <mat-label class="field">Email</mat-label>
      <input matInput type="text" formControlName="email">
    </mat-form-field>
  </div>
  <div>
    <mat-form-field appearance="outline">
      <mat-label class="field">Password</mat-label>
      <input matInput [type]="hide ? 'password' : 'text'"  formControlName="password">
      <mat-icon matSuffix mat-icon-button (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
    </mat-form-field>
  </div>
  <div>
    <button mat-button class="button"
    [disabled]="!loginUser.valid"
    type="submit">Login</button>
  </div>
</form>
</div>
</div>
