<div>
  <div>
      <div class="btnhead">
        <nav>
          <a routerLink="/register"><button mat-button class="button">Logout</button></a>
        </nav>
      </div>
      <div>
        <img class="logo" src="../../assets/logotext.png" alt="logohead"/>
      </div>
  </div>
    <div class="dropdownItem">
      <mat-form-field class="dropdown" appearance="fill">
        <mat-label>Select Crypto</mat-label>
        <mat-select [(value)]="selectedCrypto">
          <mat-option *ngFor="let ticker of tickerArray" value={{ticker}}>{{ticker}}</mat-option>
        </mat-select>
      </mat-form-field>
    <br>
      <mat-form-field  class="dropdown" appearance="fill">
        <mat-label>Select Currency</mat-label>
        <mat-select [(value)]="selectedCurrency">
          <mat-option *ngFor="let currency of currencyArray" value={{currency}}>{{currency}}</mat-option>
        </mat-select>
      </mat-form-field>
    <br>
    <div class="dropdown">
    <button mat-raised-button class="displaybtn" (click)="displayData()">Display</button>
    </div>
  </div>
  <div class="centered">

    <div *ngFor="let crypto of cryptoArray">
      <h1>TODAYS PRICE</h1>
      <p>Crytpo: {{selectedCrypto}}</p>
      <p>Symbol: {{crypto.FROMSYMBOL}}</p>
      <p>Price: {{crypto.PRICE}}</p>
      <p>Day's High: {{crypto.HIGHDAY}}</p>
      <p>Day's Low: {{crypto.LOWDAY}}</p>
      <p>Market Cap: {{crypto.MKTCAP}}</p>
    </div>
  </div>
</div>
