.btnhead {
  float: right !important;
  padding-right: 5em;
  padding-top: 2em;
}

.button {
  float: right !important;
  background-color: #43abfa;
  color: aliceblue;
  width: 6em !important;
}

.button:active{
  background-color:#326c9c;
}

.logo {
  width: 15em;
  height: 5em;
}


.dropdown{
  width: 15em;
  margin-top: 2em;
  margin-left: 2em;
  color: white !important;
}

.dropdown:active {
  color: aliceblue !important;
}

.field{
  margin-top: 1em;
  text-align: center;
}

.right {
  position: fixed;
  top: 20%;
  right: 5em;
}

.displaybtn {
  float: right !important;
  background-color: #43abfa;
  color: aliceblue;
  width: 6em !important;
}
.resetbtn {
  float: left !important;
  background-color: #43abfa;
  color: aliceblue;
  width: 6em !important;
}

.centered {
  position: fixed;
  top: 40%;
  left: 50%;
  width: 17em;
  transform: translate(-50%, -50%);
}

.table {
  width: 100%;
  color: aliceblue;
}

.mat-progress-spinner circle, .mat-spinner circle {
  margin-top: 70%;
  stroke: #43abfa;
  }

.mat-select .mat-select-value{
  color: aliceblue !important;
  background-color: #202424 !important;
}
