<div>
  <div class="btnhead">
    <nav>
      <a routerLink="/login"><button mat-button class="register">Login</button></a>
    </nav>
  </div>
<div class="centered">
  <div>
    <img class="logo" src="../../assets/logotext.png" alt="logohead"/>
  </div>
  <form [formGroup]="registerUser" (ngSubmit)="register()" novalidate>
  <div>
    <mat-form-field appearance="outline">
      <mat-label class="field">Name</mat-label>
      <input matInput type="text" formControlName="username">
    </mat-form-field>
  </div>
  <div>
    <mat-form-field appearance="outline">
      <mat-label class="field">Email</mat-label>
      <input matInput type="text" formControlName="email">
    </mat-form-field>
  </div>
  <div>
    <mat-form-field appearance="outline">
      <mat-label class="field">Password</mat-label>
      <input matInput [type]="hide ? 'password' : 'text'" formControlName="password">
      <mat-icon matSuffix mat-icon-button (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
    </mat-form-field>
  </div>
  <div>
    <button mat-button class="register"
    [disabled]="!registerUser.valid"
    type="submit">Register</button>
  </div>
</form>
<div *ngIf="reg">
  <p>{{ message }}</p>
</div>
</div>
</div>
